In [1]:
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load the csv file
real_df = pd.read_csv("NYC TLC Trip Record.csv")

# Backup df
df = real_df.copy()

# Display the first few rows of the DataFrame
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_22640\1721073245.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  real_df = pd.read_csv("NYC TLC Trip Record.csv")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2023-01-01 00:26:10,2023-01-01 00:37:11,N,1.0,166,143,1.0,2.58,14.9,1.0,0.5,4.03,0.0,NaN,1.0,24.18,1.0,1.0,2.75
1,2,2023-01-01 00:51:03,2023-01-01 00:57:49,N,1.0,24,43,1.0,1.81,10.7,1.0,0.5,2.64,0.0,NaN,1.0,15.84,1.0,1.0,0.00
2,2,2023-01-01 00:35:12,2023-01-01 00:41:32,N,1.0,223,179,1.0,0.00,7.2,1.0,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00
3,1,2023-01-01 00:13:14,2023-01-01 00:19:03,N,1.0,41,238,1.0,1.30,6.5,0.5,1.5,1.70,0.0,NaN,1.0,10.20,1.0,1.0,0.00
4,1,2023-01-01 00:33:04,2023-01-01 00:39:02,N,1.0,41,74,1.0,1.10,6.0,0.5,1.5,0.00,0.0,NaN,1.0,8.00,1.0,1.0,0.00

In [3]:
# Display basic information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68211 entries, 0 to 68210
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               68211 non-null  int64
 1   lpep_pickup_datetime   68211 non-null  object
 2   lpep_dropoff_datetime  68211 non-null  object
 3   store_and_fwd_flag     63887 non-null  object
 4   RatecodeID             63887 non-null  float64
 5   PULocationID           68211 non-null  int64
 6   DOLocationID           68211 non-null  int64
 7   passenger_count        63887 non-null  float64
 8   trip_distance          68211 non-null  float64
 9   fare_amount            68211 non-null  float64
 10  extra                  68211 non-null  float64
 11  mta_tax                68211 non-null  float64
 12  tip_amount             68211 non-null  float64
 13  tolls_amount           68211 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  68211 non-null  float64
 16  total_amount           68211 non-null  float64
 17  payment_type           63887 non-null  float64
 18  trip_type              63877 non-null  float64
 19  congestion_surcharge   63887 non-null  float64
dtypes: float64(14), int64(3), object(3)
memory usage: 10.4+ MB

In [4]:
# Rename columns to conform to PEP8 standards
df = df.rename(columns={
    "VendorID": "vendor_id",
    "tpep_pickup_datetime": "pickup_datetime",
    "tpep_dropoff_datetime": "dropoff_datetime",
    "passenger_count": "passenger_count",
    "trip_distance": "trip_distance",
    "RatecodeID": "rate_code_id",
    "store_and_fwd_flag": "store_and_fwd_flag",
    "PULocationID": "pickup_location_id",
    "DOLocationID": "dropoff_location_id",
    "payment_type": "payment_type",
    "fare_amount": "fare_amount",
    "extra": "extra",
    "mta_tax": "mta_tax",
    "tip_amount": "tip_amount",
    "tolls_amount": "tolls_amount",
    "improvement_surcharge": "improvement_surcharge",
    "total_amount": "total_amount",
    "congestion_surcharge": "congestion_surcharge",
    "Trip_type": "trip_type"
})

In [5]:
# Display summary statistics
df.describe()

,vendor_id,rate_code_id,pickup_location_id,dropoff_location_id,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,68211.000000,63887.000000,68211.000000,68211.000000,63887.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,0.0,68211.000000,68211.000000,63887.000000,63877.000000,63887.000000
mean,1.863028,1.117160,98.549735,138.429901,1.315870,8.114852,16.603545,0.825431,0.588340,2.139012,0.169627,NaN,0.951625,21.789377,1.373613,1.021933,0.726748
std,0.343820,1.372913,61.244314,76.761311,0.979054,585.105955,13.470121,1.269904,0.385819,3.052710,1.099789,NaN,0.196875,15.457115,0.508039,0.146465,1.212836
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-70.000000,-2.500000,-0.500000,-10.500000,0.000000,NaN,-1.000000,-71.500000,1.000000,1.000000,-2.750000
25%,2.000000,1.000000,74.000000,74.000000,1.000000,1.110000,9.300000,0.000000,0.500000,0.000000,0.000000,NaN,1.000000,12.900000,1.000000,1.000000,0.000000
50%,2.000000,1.000000,75.000000,138.000000,1.000000,1.850000,13.500000,0.000000,0.500000,1.600000,0.000000,NaN,1.000000,17.900000,1.000000,1.000000,0.000000
75%,2.000000,1.000000,129.000000,219.000000,1.000000,3.210000,19.800000,1.000000,0.500000,3.330000,0.000000,NaN,1.000000,26.150000,2.000000,1.000000,2.750000
max,2.000000,99.000000,265.000000,265.000000,9.000000,120098.840000,490.000000,12.500000,2.750000,222.220000,36.050000,NaN,1.000000,491.000000,5.000000,2.000000,2.750000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68211 entries, 0 to 68210
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendor_id              68211 non-null  int64
 1   lpep_pickup_datetime   68211 non-null  object
 2   lpep_dropoff_datetime  68211 non-null  object
 3   store_and_fwd_flag     63887 non-null  object
 4   rate_code_id           63887 non-null  float64
 5   pickup_location_id     68211 non-null  int64
 6   dropoff_location_id    68211 non-null  int64
 7   passenger_count        63887 non-null  float64
 8   trip_distance          68211 non-null  float64
 9   fare_amount            68211 non-null  float64
 10  extra                  68211 non-null  float64
 11  mta_tax                68211 non-null  float64
 12  tip_amount             68211 non-null  float64
 13  tolls_amount           68211 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  68211 non-null  float64
 16  total_amount           68211 non-null  float64
 17  payment_type           63887 non-null  float64
 18  trip_type              63877 non-null  float64
 19  congestion_surcharge   63887 non-null  float64
dtypes: float64(14), int64(3), object(3)
memory usage: 10.4+ MB

In [7]:
df.isnull().sum()

vendor_id                    0
lpep_pickup_datetime         0
lpep_dropoff_datetime        0
store_and_fwd_flag        4324
rate_code_id              4324
pickup_location_id           0
dropoff_location_id          0
passenger_count           4324
trip_distance                0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
ehail_fee                68211
improvement_surcharge        0
total_amount                 0
payment_type              4324
trip_type                 4334
congestion_surcharge      4324
dtype: int64

In [8]:
# Treat NA rows

In [9]:
# MCAR
df = df.drop(columns=["ehail_fee"])

In [10]:
# MAR
for column in ["store_and_fwd_flag", "rate_code_id", "payment_type"]:
    df[column] = df[column].fillna(df[column].mode()[0])

for column in ["passenger_count", "congestion_surcharge"]:
    df[column] = df[column].fillna(df[column].median())

In [11]:
# MNAR
mnar = ["trip_type"]
df["trip_type"] = df["trip_type"].fillna(df["trip_type"].mode()[0])

In [12]:
df.isnull().sum()

vendor_id                0
lpep_pickup_datetime     0
lpep_dropoff_datetime    0
store_and_fwd_flag       0
rate_code_id             0
pickup_location_id       0
dropoff_location_id      0
passenger_count          0
trip_distance            0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
payment_type             0
trip_type                0
congestion_surcharge     0
dtype: int64

In [13]:
# Check for duplicate rows
df.duplicated().sum()

0

In [14]:
# Convert datetime columns to datetime type
for column in ["lpep_pickup_datetime", "lpep_dropoff_datetime"]:
    df[column] = pd.to_datetime(df[column])

In [15]:
# Convert categorical columns to category type
for column in ["vendor_id", "store_and_fwd_flag", "rate_code_id", "payment_type", "trip_type", "pickup_location_id", "dropoff_location_id"]:
    df[column] = df[column].astype("category")

In [16]:
# Calculate trip duration in minutes
df["trip_duration"] = (df["lpep_dropoff_datetime"] - df["lpep_pickup_datetime"]).dt.total_seconds() / 60

In [17]:
# Extract hour, day of week, and month from pickup datetime
df["pickup_hour"] = df["lpep_pickup_datetime"].dt.hour
df["pickup_day_of_week"] = df["lpep_pickup_datetime"].dt.dayofweek
df["pickup_month"] = df["lpep_pickup_datetime"].dt.month

In [18]:
# Map VendorID to vendor_name
vendor_mapping = {
    1: "Creative Mobile Technologies, LLC.",
    2: "VeriFone Inc."
}
df["vendor_name"] = df["vendor_id"].map(vendor_mapping)

In [19]:
# Map RatecodeID to rate_code_id
rate_code_mapping = {
    1: "Standard Rate",
    2: "JFK",
    3: "Newark",
    4: "Nassau or Westchester",
    5: "Negotiated Fare",
    6: "Group Ride",
    0: "Unknown",
    99: "Unknown"
}
df["rate_code_name"] = df["rate_code_id"].map(rate_code_mapping)

In [20]:
# Map store_and_fwd_flag to store_and_fwd_flag
store_and_fwd_mapping = {
    "Y": "Store and Forward Trip",
    "N": "Not A Store and Forward Trip",
    0 : "Unknown"
}
df["store_and_fwd_flag_name"] = df["store_and_fwd_flag"].map(store_and_fwd_mapping)

In [21]:
# Map Payment_type to payment_type
payment_type_mapping = {
    1: "Credit Card",
    2: "Cash",
    3: "No Charge",
    4: "Dispute",
    5: "Unknown",
    6: "Voided Trip",
    0: "Unkown"
}
df["payment_type_name"] = df["payment_type"].map(payment_type_mapping)

In [22]:
# Map Trip_type to trip_type
trip_type_mapping = {
    1: "Street-hail",
    2: "Dispatch",
    0: "Unknown"
}
df["trip_type_name"] = df["trip_type"].map(trip_type_mapping)

In [23]:
df.head()

,vendor_id,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,rate_code_id,pickup_location_id,dropoff_location_id,passenger_count,trip_distance,fare_amount,...,congestion_surcharge,trip_duration,pickup_hour,pickup_day_of_week,pickup_month,vendor_name,rate_code_name,store_and_fwd_flag_name,payment_type_name,trip_type_name
0,2,2023-01-01 00:26:10,2023-01-01 00:37:11,N,1.0,166,143,1.0,2.58,14.9,...,2.75,11.016667,0,6,1,VeriFone Inc.,Standard Rate,Not A Store and Forward Trip,Credit Card,Street-hail
1,2,2023-01-01 00:51:03,2023-01-01 00:57:49,N,1.0,24,43,1.0,1.81,10.7,...,0.00,6.766667,0,6,1,VeriFone Inc.,Standard Rate,Not A Store and Forward Trip,Credit Card,Street-hail
2,2,2023-01-01 00:35:12,2023-01-01 00:41:32,N,1.0,223,179,1.0,0.00,7.2,...,0.00,6.333333,0,6,1,VeriFone Inc.,Standard Rate,Not A Store and Forward Trip,Credit Card,Street-hail
3,1,2023-01-01 00:13:14,2023-01-01 00:19:03,N,1.0,41,238,1.0,1.30,6.5,...,0.00,5.816667,0,6,1,"Creative Mobile Technologies, LLC.",Standard Rate,Not A Store and Forward Trip,Credit Card,Street-hail
4,1,2023-01-01 00:33:04,2023-01-01 00:39:02,N,1.0,41,74,1.0,1.10,6.0,...,0.00,5.966667,0,6,1,"Creative Mobile Technologies, LLC.",Standard Rate,Not A Store and Forward Trip,Credit Card,Street-hail

In [24]:
df = df.sort_values(by="lpep_pickup_datetime", ascending=True)

In [25]:
df.to_csv("NYC TLC Trip Record - Clean.csv", index=False)

In [26]:
df.describe(include=["float","int"])

,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,pickup_hour,pickup_day_of_week,pickup_month
count,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000,68211.000000
mean,1.295847,8.114852,16.603545,0.825431,0.588340,2.139012,0.169627,0.951625,21.789377,0.680678,18.097271,13.814707,2.848749,1.000337
std,0.950635,585.105955,13.470121,1.269904,0.385819,3.052710,1.099789,0.196875,15.457115,1.187047,74.925631,5.230998,1.961776,0.059686
min,0.000000,0.000000,-70.000000,-2.500000,-0.500000,-10.500000,0.000000,-1.000000,-71.500000,-2.750000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.110000,9.300000,0.000000,0.500000,0.000000,0.000000,1.000000,12.900000,0.000000,7.216667,10.000000,1.000000,1.000000
50%,1.000000,1.850000,13.500000,0.000000,0.500000,1.600000,0.000000,1.000000,17.900000,0.000000,11.400000,14.000000,3.000000,1.000000
75%,1.000000,3.210000,19.800000,1.000000,0.500000,3.330000,0.000000,1.000000,26.150000,0.000000,17.483333,18.000000,4.000000,1.000000
max,9.000000,120098.840000,490.000000,12.500000,2.750000,222.220000,36.050000,1.000000,491.000000,2.750000,1439.883333,23.000000,6.000000,12.000000

In [30]:
df.corr(numeric_only=True)

,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,pickup_hour,pickup_day_of_week,pickup_month
passenger_count,1.000000,-0.002865,0.000396,0.007545,-0.042138,0.014713,-0.003988,0.023023,0.006889,0.035080,-0.009488,-0.013862,0.009050,-0.001500
trip_distance,-0.002865,1.000000,0.012833,-0.005774,-0.014687,0.003216,0.000808,-0.001646,0.011702,-0.004489,0.000883,-0.006802,0.003522,-0.000026
fare_amount,0.000396,0.012833,1.000000,-0.003625,-0.074420,0.313688,0.335509,0.069489,0.967764,0.118972,0.113703,-0.056598,0.011439,0.001871
extra,0.007545,-0.005774,-0.003625,1.000000,0.200986,0.101623,0.062253,0.078139,0.100460,0.113844,-0.008602,0.293878,-0.118121,-0.003672
mta_tax,-0.042138,-0.014687,-0.074420,0.200986,1.000000,-0.091542,-0.020641,0.154879,-0.075833,0.068885,-0.014441,-0.003270,-0.029197,-0.001612
tip_amount,0.014713,0.003216,0.313688,0.101623,-0.091542,1.000000,0.196708,0.026255,0.511460,0.231607,0.024580,0.003726,0.014908,-0.003503
tolls_amount,-0.003988,0.000808,0.335509,0.062253,-0.020641,0.196708,1.000000,0.014620,0.405128,-0.045052,0.038909,-0.041740,0.004752,0.015220
improvement_surcharge,0.023023,-0.001646,0.069489,0.078139,0.154879,0.026255,0.014620,1.000000,0.087002,-0.001529,-0.005263,-0.009670,0.005330,-0.018699
total_amount,0.006889,0.011702,0.967764,0.100460,-0.075833,0.511460,0.405128,0.087002,1.000000,0.221078,0.108460,-0.026461,0.001869,0.001735
congestion_surcharge,0.035080,-0.004489,0.118972,0.113844,0.068885,0.231607,-0.045052,-0.001529,0.221078,1.000000,0.028899,0.016260,-0.027266,0.003020
trip_duration,-0.009488,0.000883,0.113703,-0.008602,-0.014441,0.024580,0.038909,-0.005263,0.108460,0.028899,1.000000,-0.015798,0.001847,0.000503
pickup_hour,-0.013862,-0.006802,-0.056598,0.293878,-0.003270,0.003726,-0.041740,-0.009670,-0.026461,0.016260,-0.015798,1.000000,-0.018283,-0.000316
pickup_day_of_week,0.009050,0.003522,0.011439,-0.118121,-0.029197,0.014908,0.004752,0.005330,0.001869,-0.027266,0.001847,-0.018283,1.000000,0.003065
pickup_month,-0.001500,-0.000026,0.001871,-0.003672,-0.001612,-0.003503,0.015220,-0.018699,0.001735,0.003020,0.000503,-0.000316,0.003065,1.000000